
.split-container {
    display: grid;
    grid-template-columns: 250px 1fr; 
    height: 100vh; 
}


.left-bar {
    background-color: #2d4059; 
    color: white; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; 
}


.right-content {
    padding: 20px;
    overflow-y: auto; 
    background-image: url('/Icons/clouds.jpg');
}




.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    max-width: 1100px;
    margin: auto; 
}

.box {
    background-color: #90f6d7;
    display: flex; 
    flex-direction: column;
    gap: 10px; 
    align-items: center; 
    border: 1px solid #333;
    padding: 10px; 
}


.space {
    padding: 5px;
    margin-bottom: 5px; 
}




.post-it {
    background-color: #FFEB3B;
    width: 200px; 
    min-height: 125px;
    padding: 15px; 
    font-family: 'Comic Sans MS', cursive, sans-serif; 
    border-radius: 8px; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
    position: relative;
    display: inline-block; 
    overflow: hidden; 
}

  
    .post-it:before {
        content: '';
        position: absolute;
        top: -10px; 
        left: 50%;
        width: 20px;
        height: 20px;
        background-color: #FFEB3B; 
        transform: rotate(45deg); 
        margin-left: -10px; 
    }


.title {
    font-weight: bold; 
    font-size: 18px; 
    margin-bottom: 10px; 
    text-align: center;
}


.content {
    font-size: 14px; 
    text-align: left; 
}


.headerBox {
    background-color: #35bcbf;
    text-align: center;
    border: 1px solid #333;
}

.trashIcon {
    background-image: url('/Icons/trash-can.png');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    width: 20px; 
    height: 20px; 
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-block; 
    background-color: transparent; 
    opacity: 1; 
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
}


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 300px;
    width: 90%;
}

    .popup button {
        margin: 5px;
    }